.ant-upload-picture-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* you can make up upload button and sample style by using stylesheets */
.ant-upload-select-picture-card i {
  color: #999;
  font-size: 32px;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.ant-upload-list .ant-upload-list-picture-card {
  align-items: center;
  justify-content: center;
  display: inline-block;
}
.fp-tableCell {
  background: #d1e9f5;
}

.ant-btn-primary {
  color: #fff;
  background-color: #f1807d;
}

/* you need to customise top and left css attribute
.ant-upload-list-item-info
  > span
  > div[class="ant-upload-list-item-uploading-text"]:after {
  content: "Wait ?";
  visibility: visible;
  display: block;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  padding: 1px;
  top: 10px;
  left: 10px; */
/* } */ */

.ant-carousel .slick-slide {
  text-align: center;
  /* height: 160px; */
  /* line-height: 160px; */
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}


body {
  font-family: arial, helvetica;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.test {
  align-items: center;
  justify-content: center;
}
#section1 {
  color: #fff;
}

.fp-section {
  text-align: center;
}

button {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  border-color: transparent;
  display: block;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  font-size: 0.85em;
}
